body{
	background: #fff;
}

#slider{
	width: 600px;
	overflow: hidden;
}
.button{
	width: 100px;
	height: 50px;
	background: red;
}

img{
	width: 200px;
	height: 100px;
}

li{
	display: inline;
}
ul{
	width: 9999px;
}
ul,li{
	padding: 0;
	
}
